<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>librarys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddReaderServlet</servlet-name>
    <servlet-class>servlet.AddReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReaderServlet</servlet-name>
    <url-pattern>/AddReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnnouncementServlet</servlet-name>
    <servlet-class>servlet.AnnouncementListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementServlet</servlet-name>
    <url-pattern>/AnnouncementListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookInformationServlet</servlet-name>
    <servlet-class>servlet.BookInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInformationServlet</servlet-name>
    <url-pattern>/BookInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonInformationServlet</servlet-name>
    <servlet-class>servlet.PersonInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonInformationServlet</servlet-name>
    <url-pattern>/PersonInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReaderServlet1</servlet-name>
    <servlet-class>servlet.ReaderServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderServlet1</servlet-name>
    <url-pattern>/ReaderServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListReaderServlet</servlet-name>
    <servlet-class>servlet.ListReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListReaderServlet</servlet-name>
    <url-pattern>/ListReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>servlet.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/replyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/servlet/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/servlet/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>servlet.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/servlet/ManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reg</servlet-name>
    <servlet-class>com.zhiqi.reg.Reg</servlet-class>
    <init-param>
      <description>SMTP Host</description>
      <param-name>smtphost</param-name>
      <param-value>smtp.163.com</param-value>
    </init-param>
    <init-param>
      <description>Mail Port</description>
      <param-name>port</param-name>
      <param-value>25</param-value>
    </init-param>
    <init-param>
      <description>Mail Host Username</description>
      <param-name>mailusername</param-name>
      <param-value>conglinyu1.0@163.com</param-value>
    </init-param>
    <init-param>
      <description>Mail Host Password</description>
      <param-name>mailpassword</param-name>
      <param-value>3137341644amd588</param-value>
    </init-param>
    <init-param>
      <description>Mail From</description>
      <param-name>mailfrom</param-name>
      <param-value>conglinyu1.0@163.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reg</servlet-name>
    <url-pattern>/emailL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>abookmassageServelt</servlet-name>
    <servlet-class>servlet.abookmassageServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abookmassageServelt</servlet-name>
    <url-pattern>/abookmassageServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ahistoryServelt</servlet-name>
    <servlet-class>servlet.ahistoryServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ahistoryServelt</servlet-name>
    <url-pattern>/ahistoryServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>acurrentServelt</servlet-name>
    <servlet-class>servlet.acurrentServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acurrentServelt</servlet-name>
    <url-pattern>/acurrentServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateServelt</servlet-name>
    <servlet-class>servlet.updateServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServelt</servlet-name>
    <url-pattern>/updateServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImformationServlet</servlet-name>
    <servlet-class>servlet.ImformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImformationServlet</servlet-name>
    <url-pattern>/ImformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImformationNewServlet</servlet-name>
    <servlet-class>servlet.ImformationNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImformationNewServlet</servlet-name>
    <url-pattern>/ImformationNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AReplyServlet</servlet-name>
    <servlet-class>servlet.AReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AReplyServlet</servlet-name>
    <url-pattern>/AReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>servlet.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>servlet.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail。do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet1</servlet-name>
    <servlet-class>servlet.IndexServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet1</servlet-name>
    <url-pattern>/IndexServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>abookmassageServelt1</servlet-name>
    <servlet-class>servlet.abookmassageServelt1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abookmassageServelt1</servlet-name>
    <url-pattern>/abookmassageServelt1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeServlet</servlet-name>
    <servlet-class>servlet.SeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeServlet</servlet-name>
    <url-pattern>/SeServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectServlet1</servlet-name>
    <servlet-class>servlet.SelectServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet1</servlet-name>
    <url-pattern>/SelectServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>com.zhiqi.reg</description>
    <display-name>com.zhiqi.reg.Reg</display-name>
    <servlet-name>Return</servlet-name>
    <servlet-class>com.zhiqi.reg.Return</servlet-class>
    <init-param>
      <description>SMTP Host</description>
      <param-name>smtphost</param-name>
      <param-value>smtp.163.com</param-value>
    </init-param>
    <init-param>
      <description>Mail Port</description>
      <param-name>port</param-name>
      <param-value>25</param-value>
    </init-param>
    <init-param>
      <description>Mail Host Username</description>
      <param-name>mailusername</param-name>
      <param-value>conglinyu1.0@163.com</param-value>
    </init-param>
    <init-param>
      <description>Mail Host Password</description>
      <param-name>mailpassword</param-name>
      <param-value>3137341644amd588</param-value>
    </init-param>
    <init-param>
      <description>Mail From</description>
      <param-name>mailfrom</param-name>
      <param-value>conglinyu1.0@163.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Return</servlet-name>
    <url-pattern>/Return</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FineReaderServlet</servlet-name>
    <servlet-class>servlet.FineReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FineReaderServlet</servlet-name>
    <url-pattern>/FineReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>servlet.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/ReturnBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnnouncementListServlet</servlet-name>
    <servlet-class>servlet.AnnouncementListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncementListServlet</servlet-name>
    <url-pattern>/ AnnouncementListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookListServlet1</servlet-name>
    <servlet-class>servlet.BookListServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet1</servlet-name>
    <url-pattern>/BookListServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectServlet2</servlet-name>
    <servlet-class>servlet.SelectServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet2</servlet-name>
    <url-pattern>/SelectServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectServlet3</servlet-name>
    <servlet-class>servlet.SelectServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet3</servlet-name>
    <url-pattern>/SelectServlet3</url-pattern>
  </servlet-mapping>
</web-app>